.quest-wrapper {
    height: 100vh;
    background-color: #0C0C0C; /* czarne tło */
    color: #F3F3F3;            /* biały tekst */
    font-family: 'Pixelify Sans', sans-serif;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .quest-content {
    text-align: center;
    padding: 2rem;
    border: 2px solid #F3F3F3;
    border-radius: 12px;
    background-color: rgba(12, 12, 12, 0.9); /* delikatne przyciemnienie */
  }
  