.arena-container {
  /* background-image: url('../../../assets/backgrounds/arena_bg.svg'); */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arena-wrapper {
  width: 100%;
  max-width: 600px; /* szerszy panel */
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.arena-panel {
  background-color: rgba(12, 12, 12, 0.9);
  padding: 50px;
  border: 3px solid #f9f1a5;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: 'Pixelify Sans', sans-serif;
  color: #f3f3f3;
  box-shadow: 0 0 15px #f9f1a5;
  width: 100%;
}

input[type="text"] {
  padding: 12px;
  font-size: 18px;
  color: #f3f3f3;
  background-color: #1c1c1c;
  border: 2px solid #f9f1a5;
  border-radius: 6px;
  outline: none;
  text-align: center;
  width: 100%;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  font-family: inherit;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #0c0c0c;
  font-weight: bold;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.find-btn {
  background-color: #f9f1a5;
}
.find-btn:hover {
  background-color: #e7dc60;
  transform: scale(1.05);
}

.random-btn {
  background-color: #61d6d6;
}
.random-btn:hover {
  background-color: #3cbaba;
  transform: scale(1.05);
}
