body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0C0C0C;
    color: #F3F3F3;
    font-family: 'Pixelify Sans', sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  